{% extends 'base.html' %}


{% block content%}

<link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
<style>
    h3{
        font-family:Helevitica;
        font-size: medium;
        color: rgb(48, 56, 35);
        margin-top: 40px;

    }
    .wrap{
        width: 30%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


    .form-control-feedback {
        padding: 50px;
        width:400px;
        border:0;
        border-radius: 50px;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        margin-top: 80px;
        margin-bottom: 15px;
    }
    .main {
        width: 50%;
        margin: 50px auto;
    }
</style>


<div class="wrap">
<h3>
    <form action="{% url 'word'%}">
    <div class="main">
    <div class="input-group">
        <p><input type="text" class="form-control" name="word" placeholder="Search for words meaning...">
            <button class="btn btn-secondary" type="submit" value="word">
            <i class="fa fa-search"></i>
            </button></p>
        </div>
    </div>
            
    </form>
    Word : {{word}}</p>


    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <p>
    Translation ({{language}}) : {{translation}}
    <audio controls preload><source src="{{playsound}}" type="audio/mpeg"></audio>
    </p>

    

 </h3>
</div>


{% endblock %}