 
{% extends 'base.html' %}

{% block content%}

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: medium;
        color: rgb(48, 56, 35);
        margin-top: 1000px;

    }
    .wrap{
        width: 30%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    p{

font-family:cursive;
font-size:x-large;
      }
</style>

<div class="wrap"> 
<h3>
    <br>
    <p>Word </p>
    {{search}}
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br>   
<p>Pronunciation </p>
{{pronunciation}}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
 <p>Meaning</p>    
    {% for key,value in meaning.items %} 
    <br>
    <tr >
        <td> {{ key }}: </td> <td> <ul> {% for item in value %}  <li>{{ item }}</li> {% endfor %} </ul>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        </td>
    </tr>
    {% endfor %}

</h3>
   
  </div>
</body>
</html>

{% endblock %}